* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
}

.main-container a {
    padding-left: 40px;
    text-decoration: none;
}

.main-container a:hover {
    color: rgb(198, 206, 87);
}

.main-container .logo {
    color: black;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.header-right a {
    padding-right: 40px;
    text-decoration: none;
    color: black;
}


/*Title-img styling*/

.title-img {
    display: flex;
    padding: 40px;
}

.title-para {
    position: static;
    overflow: hidden;
}

.title-para h1 {
    margin-top: 90px;
    font-size: 110px;
}

.title-para p {
    font-size: 14px;
    padding-left: 53px;
}

.pic {
    margin: 70px 0 0 79px;
}


/* Images style */

.row {
    display: flex;
    margin-left: 170px;
    margin-top: 120px;
}

.img1 img {
    height: 600px;
    width: 500px;
}

.about h1 {
    position: static;
    font-size: 30px;
    overflow: hidden;
    margin-top: 70px;
    padding-left: 100px;
    box-sizing: border-box;
}

.about p {
    padding-left: 100px;
    width: 60%;
    margin-top: 20px;
}

.header {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin: 100px;
}


/* Our Menu */

.our-menu {
    display: grid;
    padding-left: 100px;
}

.column img {
    width: 21vw;
    height: 60vh;
}


/* Book a table */

.book-table {
    position: relative;
    text-align: center;
}

.book-table img {
    width: 100%;
    height: 600px;
}

.book-table h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -235%);
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    color: #fff;
    text-transform: uppercase;
}

.text-input {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.text-input input {
    font-size: 1rem;
    width: 22%;
    padding: 15px;
    color: #fff;
    background: transparent;
}

.text-input input::placeholder {
    padding: 20px;
    color: #fff;
    font-family: sans-serif;
}

.text-input button {
    padding: 10px;
    font-size: 1.2rem;
    width: 170px;
    font-family: sans-serif;
    border: none;
    outline: none;
    background-color: crimson;
    cursor: pointer;
    border-radius: 4px;
    transform: translateY(110px);
}

.text-input button:hover {
    background-color: #4b27db;
    color: #fff;
}


/* Another section */

.bg-dark {
    height: 100vh;
    visibility: visible;
    animation-name: fadeIn;
    background-color: #343a40;
}

.bg-dark h2 {
    color: white;
    padding-top: 80px;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.nav-pills {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 80px;
}

.nav-pills li {
    list-style: none;
}

.nav-pills li a {
    font-size: 20px;
    text-decoration: none;
}

.active,
.navlink:hover {
    border: none;
    outline: none;
    color: white;
    padding: 10px 60px;
    background-color: crimson;
}

.img-holder {}

.food-juice {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.food-juice.juice {
    display: none;
}

.container1 img {
    height: 250px;
    width: 400px;
}